include README.md
include LICENSE
include requirements.txt
include pyproject.toml
include CMakeLists.txt
include setup.py

recursive-include src *.py *.cpp *.c *.h *.hpp *.json
recursive-include src/measurement *.cpp *.h *.hpp CMakeLists.txt
recursive-include src/instrumentation *.py *.json *.h
recursive-include third_party *.c *.h CMakeLists.txt

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store
global-exclude *.o
